.profile-userWallpaper {
    width: 100%;
    height: 300px;
    object-fit: cover;
    /* margin-top: 64px; to compensate fixed navbar */
}

.profile-userAvatar {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: relative;
}

.userProfile_navBar {
    height: 160px;
    margin: 0 10%;
    display: flex;
    align-items: center;
    transform: translate(0, -170px);
    position: absolute;
}

.userProfile_navBar span {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 2.5em;
    margin-left: 10px;
    font-weight: bolder;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.userProfile_SwitchArea span {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: bolder;
    color: black;
}
.friendsWidget {
    width: 70%;
    margin: 50px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.userCard {
    display: flex;
    margin-top: 20px;
    width: 500px;
    justify-content: flex-start;
    flex-flow: row nowrap;
    align-items: center;
    font-size: 2.5em;
}

.friendsList_noFriends {
    margin: 200px auto;
}

.profileSettings_Wrapper {
    display: flex;
    margin: 100px auto;
    justify-content: space-around;
    flex-flow: column wrap;
    align-items: center;
}

.profileSettings_Wrapper label {
    margin: 20px
}