.container {
  display: flex;
  flex-direction: row;
}
.nav {
  display: flex;
  flex-direction: column;
  width: 20%;
}
.section {
  position: relative;
  width: 80%;
  background-color: black;
}
.routeElementsContainer {
  top: 80px;
  position: sticky;
}
