.flexContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 800px;
  margin: auto;
}

.flexchild1 {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 60px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

/* .avatarSize {
  width: 100px;
  height: 100px;
} */

.routeNumberDataContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
}

.routeDescriptionContainer {
  padding: 10px;

}

.rateRouteContainer {
  padding: 10px;
  display: flex;
  justify-content: space-around;
}




.flexchild2 {
  width: 40%;
}

.mapContainer {
height: 100%; 
width: 100%;
/* margin: auto;
margin-bottom: 50px; */
}

