.userCard {
  position: absolute;
  top: 170px;
  left: 100px;
}
.userProfileContent {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.userProfileContent__backgroundGraphic {
  flex-grow: 1;
  background-image: url("../../files/UserProfile-Files/majid-gheidarlou-dViaab0Qc8o-unsplash.jpg");
  background-size: cover;
  /* background-repeat: repeat; */
}
.userProfileContent__data {
  flex-grow: 3;
}
