.map-container {
  height: 100%;
  width: 100%;
  margin: auto;
  margin-bottom: 50px;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #ffffff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: relative; /* position: absolute, place sidebar onto map*/
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

.contentContaner {
  display: flex;
  flex-direction: row;
}

.directionsContainer {
  padding: 20px 0px;
  /* border-radius: 5px; */
  /* position: absolute; */
  /* top: 10px; */
  background-color: #fff;
}

.mapContainer {
  width: 100%;
}
