.waypointElement {
  width: 13px;
  height: 13px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #000;
}

.originElement {
  width: 13px;
  height: 13px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #000;
}
.mapboxgl-ctrl-bottom-left {
  z-index: 1;
}
.mapboxgl-ctrl-bottom-right {
  z-index: 1;
}
